
@import url(https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Tillana);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple);
body{
  padding: 50px;
  font-family: monospace;
  text-align: center;
  /* background: url(http://s1.picswalls.com/wallpapers/2014/06/22/robot-hd-wallpaper_1053401_45.jpg); */
  background: url(https://wallpaper-house.com/data/out/7/wallpaper2you_188521.jpg);
  background-size: 100%;
  color:rgb(232, 248, 247);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 20px;
  
}
h1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-family: 'Tillana', cursive;

}

h2{
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;;
}
form{
    
    width:500px;
    border: 1px solid #4e4d4d;
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow: inset 0 0 10px #000;
    margin: 100px auto;
    font-size: 20px;
  
}
.button {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    }
    .button:hover {
        background: rgba(0,0,0,0);
        color: #3a7999;
        box-shadow: inset 0 0 0 3px #3a7999;
        }
/* .button:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999; */

/*
div{
 position: relative;
}
form form-offset{
    float: left;
}
form form-text_cif{
    float: left;
}*/